/* body{
  padding:20px 20px;
} */

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
} 


.btn.btn-sm{
  border-radius:3px !important;
}

.btn.btn-just-icon.btn-sm {
  height: 30px;
  min-width: 30px;
  width: 30px;
}

.btn.btn-just-icon {
  font-size: 9px;
  height: 30px;
  min-width: 30px;
  width: 30px;
  padding: 0 !important;
  overflow: hidden;
  position: relative;
  line-height: 41px;
}

.btn.btn-just-icon.btn-round {
  border-radius: 50% !important;
}

.btn.btn-link{
  background: transparent;
  box-shadow: none;
  color: #999;
}

/* .btn.btn-info {
  color: #fff !important;
  background-color: #00bcd4 !important;
  border-color: #00bcd4;
  box-shadow: 0 2px 2px 0 rgba(0,188,212,.14),
              0 3px 1px -2px rgba(0,188,212,.2),
              0 1px 5px 0 rgba(0,188,212,.12) !important;
}

.btn.btn-info:hover {
  box-shadow: 0 14px 26px -12px rgba(0,188,212,.42),
              0 4px 23px 0 rgba(0,0,0,.12),
              0 8px 10px -5px rgba(0,188,212,.2) !important;
  background: #00aec5 !important;
}

.btn.btn-info.btn-link{
  background-color: transparent !important;
  color: #00bcd4 !important;
  box-shadow:none !important;
} */

.btn.btn-success {
  color: #fff !important;
  background-color: #4caf50 !important;
  border-color: #4caf50;
  box-shadow: 0 2px 2px 0 rgba(76,175,80,.14),
              0 3px 1px -2px rgba(76,175,80,.2), 
              0 1px 5px 0 rgba(76,175,80,.12) !important;
}

.btn.btn-success:hover {
  box-shadow: 0 14px 26px -12px rgba(76,175,80,.42), 
              0 4px 23px 0 rgba(0,0,0,.12),   
              0 8px 10px -5px rgba(76,175,80,.2) !important;
  background: #47a44b  !important;
}

.btn.btn-success.btn-link{
  background-color: transparent !important;
  color: #4caf50 !important;
  box-shadow: none !important;
}

.btn.btn-danger {
  color: #fff !important;
  background-color: #f44336 !important;
  border-color: #f44336;
  box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 
              0 3px 1px -2px rgba(244,67,54,.2), 
              0 1px 5px 0 rgba(244,67,54,.12) !important;
}

.btn.btn-danger:hover {
  box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 
              0 4px 23px 0 rgba(0,0,0,.12), 
              0 8px 10px -5px rgba(244,67,54,.2) !important;
  background-color: #f33527 !important;            
  
}

.btn.btn-danger.btn-link{
  background-color: transparent !important;
  color: #f44336 !important;
  box-shadow: none !important;
}

.btn.btn-just-icon.btn-sm .material-icons {
   font-size: 17px; 
   line-height: 29px; 
} 

.false {
  background-color: #F44336;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.true {
  background-color: #4CAF50;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
